.icon-exclusive-error-icon
                    {
                      background-image: url('../image/sprite.png');
                      background-position: 0px  0px;
                      width:44px;
                      height:44px;
                     }
.icon-exclusive-right-icon
                    {
                      background-image: url('../image/sprite.png');
                      background-position: 0px  -59px;
                      width:44px;
                      height:44px;
                     }
.icon-exma-analysis-item
                    {
                      background-image: url('../image/sprite.png');
                      background-position: 0px  -118px;
                      width:60px;
                      height:60px;
                     }
