.icon-ico_class  
                    {
                      background-image: url('../images/sprite/sprite.png');
                      background-position: 0px  -40px;
                      width:36px;
                      height:40px;
                     }
.icon-ico_class_z  
                    {
                      background-image: url('../images/sprite/sprite.png');
                      background-position: 0px  0px;
                      width:25px;
                      height:25px;
                     }
