@import '../font/icon.css';
body,
html {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  font-weight: 400;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  position: relative;
}
ul,
li,
button,
img,
dl,
dt,
dd,
mark,
h4,
h5,
p,
i,
em,
b,
section,
header,
footer {
  margin: 0;
  padding: 0;
  font-weight: 400;
  outline: none;
}
ul {
  list-style: none;
}
.font__16 {
  font-size: 16px;
}
.font__11 {
  font-size: 11px;
}
.arrow--right {
  font-size: 0;
  line-height: 0;
  border-width: 10px;
  border-bottom-width: 7px;
  border-top-width: 7px;
  border-color: #FF6214;
  border-right-width: 0;
  border-style: dashed;
  border-left-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.top__wrap {
  width: 100%;
  height: 60px;
  padding: 11px 15px 11px 30px;
  opacity: 0.8;
  background: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.top__logo {
  float: left;
  width: 38px;
  height: 38px;
  vertical-align: middle;
  background-image: url('../images/logo.png');
  background-size: 100%;
}
.top__text {
  float: left;
  margin-left: 10px;
}
.top__open {
  float: right;
  width: 60px;
  height: 30px;
  padding: 6px 8px;
  text-align: center;
  background: #FF6214;
  border-radius: 5px;
  margin-top: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.recommond__title {
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  color: #1A1F25;
  background: #F4F3F4;
}
.recommond__title::before {
  display: inline-block;
  content: '';
  width: 5px;
  height: 16px;
  vertical-align: sub;
  background-color: #FF6214;
}
.recommond__item {
  height: 105px;
  margin-left: 15px;
  padding: 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #E5E5E5;
  /*no*/
}
.recommond__left {
  float: left;
  width: 112px;
  height: 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: red;
}
.recommond__left__img {
  width: 112px;
  height: 75px;
}
.recommond__right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 122px;
}
.recommond__right__title {
  width: 230px;
  height: 46px;
  font-size: 16px;
  color: #1A1F25;
  line-height: 23px;
}
.recommond__right__detail {
  margin-top: 13px;
  width: 230px;
}
.recommond__right__detail__span {
  font-size: 12px;
  color: #888888;
  letter-spacing: -0.27px;
}
.recommond__right__detail span:nth-child(2) {
  margin-left: 20px;
}
.recommond__right__detail__application {
  width: 59px;
  height: 18px;
  font-size: 11px;
  color: #FF6214;
  line-height: 18px;
  letter-spacing: -0.27px;
  float: right;
  text-align: center;
  margin-right: 5px;
  border: 1px solid #FF6214;
  /*no*/
  border-radius: 3px;
  /*no*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}
.common__wrap {
  background-image: url('../images/footer.png');
  width: 100%;
  height: 90px;
  margin-top: 10px;
  background-size: 100%;
}
.common__wrap__gap {
  margin-left: 9px;
  margin-right: 10px;
}
.common__wrap .common__wrap__gap:nth-child(1) {
  margin-left: 0;
}
.common__wrap__Mis {
  font-size: 20px;
  color: #FFFFFF;
}
.common__wrap__detail {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 26px;
  margin-right: 30px;
}
.common__wrap__open {
  display: inline-block;
  width: 70px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #FF6214;
  background: #FFFFFF;
  border-radius: 5px;
}
.top__wrap__footer{
  width: 100%;
  height: 60px;/*no*/
  padding: 11px 15px 11px 30px;
  opacity: 0;
  background: #000000;
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
