<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BIC-移动端模板脚手架</title>
  <link rel="stylesheet" href="../style/reset.debug.css">
  <link rel="stylesheet" href="../style/index.debug.css">
  <script type="text/javascript">
    ~(function () {
        var width = document.documentElement.clientWidth || document.documentElement.body.clientWidth;
        document.documentElement.style.fontSize = width * 20 / 375 + 'px';
    })()
  </script>
</head>
<body>
  <h3 class="title">早发白帝城</h3>
  <p class="intro">唐·李白</p>
  <div class="content-container">
    <p>朝辞白帝彩云间，</p>
    <p>千里江陵一日还。</p>
    <p>两岸猿声啼不住，</p>
    <p>轻舟已过万重山。</p>
  </div>
</body>
</html>
