@import '../font/icon.css';

body,
html {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: #fff;
  font-family: PingFangSC-Regular;
  font-size: 0.186667rem;
  font-weight: 400;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  position: relative;
}

ul,
li,
button,
img,
dl,
dt,
dd,
mark,
h4,
h5,
p,
i,
em,
b,
section,
header,
footer {
  margin: 0;
  padding: 0;
  font-weight: 400;
  outline: none;
}

ul {
  list-style: none;
}

.font__16 {
  font-size: 0.213333rem;
}

.font__11 {
  font-size: 0.146667rem;
}

.arrow--right {
  font-size: 0;
  line-height: 0;
  border-width: 0.133333rem;
  border-bottom-width: 0.093333rem;
  border-top-width: 0.093333rem;
  border-color: #FF6214;
  border-right-width: 0;
  border-style: dashed;
  border-left-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.top__wrap {
  width: 100%;
  height: 0.8rem;
  padding: 0.146667rem 0.2rem 0.146667rem 0.4rem;
  background: #333333;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.top__logo {
  float: left;
  width: 0.506667rem;
  height: 0.506667rem;
  vertical-align: middle;
  background-image: url('../images/logo.png');
  background-size: 100%;
}

.top__text {
  float: left;
  margin-left: 0.133333rem;
}

.top__open {
  float: right;
  width: 0.8rem;
  height: 0.4rem;
  padding: 0.08rem 0.106667rem;
  text-align: center;
  background: #FF6214;
  border-radius: 0.066667rem;
  margin-top: 0.053333rem;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.recommond__title {
  height: 0.533333rem;
  line-height: 0.533333rem;
  font-size: 0.173333rem;
  color: #1A1F25;
  background: #F4F3F4;
}

.recommond__title::before {
  display: inline-block;
  content: '';
  width: 0.066667rem;
  height: 0.213333rem;
  vertical-align: sub;
  background-color: #FF6214;
}

.recommond__item {
  height: 1.4rem;
  margin-left: 0.2rem;
  padding: 0.2rem 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #E5E5E5;
}

.recommond__left {
  float: left;
  width: 1.493333rem;
  height: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.recommond__left__img {
  width: 1.493333rem;
  height: 1rem;
}

.recommond__right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1.626667rem;
}

.recommond__right__title {
  width: 3.066667rem;
  height: 0.613333rem;
  font-size: 0.213333rem;
  color: #1A1F25;
  line-height: 0.306667rem;
}

.recommond__right__detail {
  margin-top: 0.173333rem;
  width: 3.066667rem;
}

.recommond__right__detail__span {
  font-size: 0.16rem;
  color: #888888;
  letter-spacing: -0.0036rem;
}

.recommond__right__detail span:nth-child(2) {
  margin-left: 0.266667rem;
}

.recommond__right__detail__application {
  width: 0.786667rem;
  height: 0.24rem;
  font-size: 0.146667rem;
  color: #FF6214;
  line-height: 0.24rem;
  letter-spacing: -0.0036rem;
  float: right;
  text-align: center;
  margin-right: 0.066667rem;
  border: 1px solid #FF6214;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

.common__wrap {
  background-image: url('../images/footer.png');
  width: 100%;
  height: 1.2rem;
  margin-top: 0.133333rem;
  background-size: 100%;
}

.common__wrap__gap {
  margin-left: 0.12rem;
  margin-right: 0.133333rem;
}

.common__wrap .common__wrap__gap:nth-child(1) {
  margin-left: 0;
}

.common__wrap__Mis {
  font-size: 0.266667rem;
  color: #FFFFFF;
}

.common__wrap__detail {
  font-size: 0.213333rem;
  color: #FFFFFF;
  line-height: 0.346667rem;
  margin-right: 0.4rem;
}

.common__wrap__open {
  display: inline-block;
  width: 0.933333rem;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.186667rem;
  color: #FF6214;
  background: #FFFFFF;
  border-radius: 0.066667rem;
}

.top__wrap__footer {
  width: 100%;
<<<<<<< HEAD
  height: 60px;
  padding: 0.146667rem 0.2rem 0.146667rem 0.4rem;
  opacity: 0;
  background: #000000;
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
=======
  height: 0.8rem;
  padding: 0.146667rem 0.2rem 0.146667rem 0.4rem;
  background: #000000;
  opacity: 0.8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  display: none;
}

.iframe_box {
  height: 7.653333rem;
  overflow: hidden;
}

.iframe_btn_success {
  width: 4.2rem;
  height: 0.533333rem;
  background: #FF6214;
  border-radius: 0.066667rem;
  font-size: 0.2rem;
  color: #FFFFFF;
  letter-spacing: -0.004533rem;
  margin: 0 auto;
  text-align: center;
  line-height: 0.533333rem;
}

#ifr {
  width: 100%;
  height: 100%;
}

.iframe_btn_icon {
  width: 0.213333rem;
  height: 0.213333rem;
  background-image: url('../images/sanjiao.png');
  background-size: 100%;
  margin: 0.04rem auto 0.066667rem;
}

.iframe_btn {
  z-index: 999;
>>>>>>> 04616cffd6e68d1bf466d4d1fdc62440cd6e7208
}